<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>City of Zion Faucet</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/stuff.css">
    </head>
    <body>

    <div class="site-wrapper">

      <div class="">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">⛽ City of Zion Refill Station</h3>
              {% block navlinks %}
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/#guidelines">Guidelines</a>
                <a class="nav-link" href="/#protocol">Protocol</a>
<!--                <a class="nav-link" href="#">Contact</a> -->
              </nav>
              {% endblock %}
            </div>
            <div class="subnav">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Current height: {{ height }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    {% if wallet_height <= height %}
                        <div class="alert alert-warning">Syncing... Please <a href="/">Refresh</a></div>
                    {% else %}
                        <div class="alert alert-success">Ready for Refill</div>

                    {% endif %}
                    </div>
                </div>
            </div>
          </div>

          {% block stuff %}
          <div class="inner cover">
            <h1 class="cover-heading">Free GAS and NEO</h1>
            <p class="lead">Please fill the form below to request Neo and Gas for your test development purposes on the City of Zion testnet.</p>

              {% if error %}
              <div class="alert alert-danger">
              <p>{{ message_error }}</p>
              </div>
              {% endif %}

              <form action="/ask" method="post">
                  <div class="form-group">
                    <label for="id_coz_addr">Coz Tesntet address</label>
                    <input type="text" class="form-control" id="id_coz_addr" name="coz_addr" aria-describedby="coz_addrHelp" required placeholder="APyEx5f4Zm4oCHwFWiSTaph1fPBxZacYVM" {% if addr %}value="{{ addr }}"{% endif %}>
                    <small id="coz_addrHelp" class="form-text text-muted">This is an address of a wallet on the City of Zion testnet.</small>
                  </div>
                  <div class="form-check has-dange">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="do_agree">
                        I understand the <a href="#guidelines">City of Zion Refill Station guidelines.</a>
                    </label>
                  </div>
                  <hr/>

                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>


          {% endblock %}


          <div class="inner cover guidelines">
            <a name="guidelines"></a>
            <h4 class="cover-heading">Guidelines</h4>
            <ul>
                <li>Each request will be given 2000 Gas and 100 NEO</li>
                <li>After requesting neo and gas, your address will not be able to request NEO and Gas for 50,000 blocks</li>
                <li>I will not make a bunch of random addresses to get all the NEO and Gas</li>
                <li>If I violate these guidelines, I will be wasting everyone's time.</li>
                <li>I understand that I should really just set up my own private network.</li>
            </ul>
          </div>


           <div class="inner cover guidelines">
            <a name="protocol"></a>
            <h4 class="cover-heading">Protocol</h4>
            <p>Use the following json to connect to the City of Zion testnet.  <a href="/static/protocol.json">Download</a></p>
            <pre>
{
  "ProtocolConfiguration": {
    "Magic": 1010102,
    "AddressVersion": 23,
    "StandbyValidators": [
      "032d9e51c7d48b0f5cc63d63deb89767685832cf69eb7113900290f217ae0504ee",
      "022a5b7ccf03166a95e1750f0c350c734c34fe7aac66622eecdb5a529d2e69b1df",
      "03c478d43271c297696ee3ab5a7946ee60287015c7dca6cba867819c7f271bc4ea",
      "0393ef777d01fb60eef1da3474b975c6a393b464bcfe588e2ad7dbc4dbdfa2c244"
    ],
    "SeedList": [
      "188.68.34.29:10330",
      "188.68.34.29:10332",
      "188.68.34.29:10334",
      "188.68.34.29:10336"
    ],
    "SystemFee": {
      "EnrollmentTransaction": 1000,
      "IssueTransaction": 500,
      "PublishTransaction": 500,
      "RegisterTransaction": 10000
    }
  }
}

            </pre>
          </div>

        </div>

      </div>

    </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
