{% extends 'index.html' %}
  {% block navlinks %}
  <nav class="nav nav-masthead">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/#guidelines">Guidelines</a>
    <a class="nav-link" href="/#protocol">Protocol</a>
    <a class="nav-link" href="/#about">About</a>
  </nav>
  {% endblock %}

  {% block stuff %}
  <div class="inner cover">
    <h1 class="cover-heading">Request Approved!</h1>
    <div class="alert alert-success">
        {{ message_success }}
    </div>

    <hr/>
    <div class="row row-json">

        <div class="col-sm-12">
            <pre>
            {{ tx_json }}

            </pre>
        </div>
    </div>

  </div>

  {% endblock %}